/* style.css - 主程序与通用样式 */
:root {
    --holo-cyan: #00f3ea;       
    --holo-red: #ff5050;
    --holo-purple: #d000ff;
    --holo-glass: rgba(10, 15, 20, 0.7);
    
    --glow-text: 0 0 5px rgba(0, 243, 234, 0.4);
    --panel-shadow: inset 0 0 30px rgba(0, 243, 234, 0.05);
    
    --panel-width: 300px;
    --trigger-width: 30px; 
    --anim-ease: cubic-bezier(0.16, 1, 0.3, 1);
}

* { box-sizing: border-box; outline: none; margin: 0; padding: 0; user-select: none; }

body {
    width: 100vw; height: 100vh; overflow: hidden;
    background: #000; 
    font-family: 'Rajdhani', sans-serif; 
    color: #d0f0f0;
}


the code is coming soon
51084
95540
57145